.fixPosition {
    position: fixed;
    top: 0;
    left: 0;
}

.fixPosition2 {
    position: fixed;
    top: 1000;
    left: 0;
}

.fixPosition3 {
    position: fixed;
    top: 2000;
    left: 0;
}
  
.size {
    position: fixed;
    top: 0;
    left: 0;
}  