name = "camera name"
inputUrl= rtsp://a.camera.or.something/cam1
alertUrl ='https://bruh.alert/webhook'
fps = 1
minimumObjectConfidence = 0.8
pixelThreshold = 0.1
pixelChangePercentTolerance = 0.08
sizeTolerance = 0.1
positionTolerance = 0.1 
probabilityOfExistenceDecay = 0.99
differenceImagePath = "bruh.jpg"