object_PORT = Port for object server

object_CAMERA_URLS = array of strings with HLS stream urls

database_NAME = postgres database name
database_USER = postgres user
database_PASSWORD = postgres password
database_HOST = postgresql://database.domain.example or localhost (note: do not add the port and do not add protocol if domain is LAN machine)
database_PORT = postgres server port