object_PORT = Port for object server

object_FULL_URL = https://www.server.example/object or http://127.0.0.1:8081/object
object_AUTH = Authorization token to bypass auth for object (keep secret)

object_CAMERA_URLS = array of strings with HLS stream urls

object_minimumConfidence = minimum confidence to warrant an alert for people detection
object_alertUrls = object webhook url array

object_headless_ON = (true | false)
object_browser_FILEPATH = file path to browser for object headless to use
object_data_FOLDERPATH = folder path to hold temp data 

cameras = Array of camera names as JSON -> Ex: "["front door","backyard","garage"]"

# OPTIONAL (the table in database will created for you if you use this)
database_NAME = postgres database name
database_USER = postgres user
database_PASSWORD = postgres password
database_HOST = postgresql://database.domain.example or localhost (note: do not add the port and do not add protocol if domain is LAN machine)
database_PORT = postgres server port